<div class="container">
  <div class="row">
    <div class= "col-md-3">
      <%= render 'template/user', user: @user %>
      <%= render 'template/book', book: @book %>
    </div>

      <div class="offset-md-1 col-md-8">
        <h1>Books</h1>
        <body>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Title</th>
                <th scope="col">Opinion</th>
              </tr>
            </thead>

            <% @user.books.each do |book| %>
            <tbody>
              <tr>
                <td scope="col"><%= link_to user_path(@user.id) do %>
                  <%= image_tag @user.get_profile_image %><% end %>
                  </td>
                <td scope="col"><%= link_to book_path(book.id) do %>
                  <%= book.title %><% end %>
                </td><!--タイトルを押したらbooksのshowページへ-->
                <td colspan="2"><%= book.body %></td>
                <!--td><!--%= link_to book.body, book_path(book.id) %></td-->
              </tr>
            </tbody>
            <% end %>
          </table>
        </body>