<%= render 'template/user', user: @user %>
<%= render 'template/book', book: @book %>

<h1>Books</h1>
<body>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>

<% @books.each do |book| %>
   <tbody>
    <tr>
      <td><%= image_tag @user.get_profile_image %></td><!--現状@userのプロフィール画像が繰り返されてる-->
      <td><%= link_to book.title, book_path(book.id) %></td>
      <td><%= book.body %></td>
    </tr>
   </tbody>
<% end %>
  </table>
</body>

<!--%= image_tag 'no_image.jpg' %投稿一覧で使う。ここは自分が投稿した-->

<!--%= image_tag 'no_image.jpg'%使うかも-->

